<!doctype html>

<html>
<head>

  <meta charset="utf-8">
  <title>Appliance Revive for ##CITY## - Repair your Regrigerator, Washing Machine, Dishwasher, Dryer, Oven, and More</title>
  <meta name="description" content="Appliance Revive for ##CITY## - Save your Regrigerator, Washing Machine, Dishwasher, Dryer, Oven, and More">
  <meta name="author" content="Appliance Revive - ##CITY##">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/scripts.js"></script>

  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "HomeAndConstructionBusiness",
  "name": "Appliance Revive",
  "image": "",
  "@id": "",
  "url": "http://appliancerevive.com",
  "telephone": "(888)-888-8888",
  "priceRange": "50-500",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "",
    "addressLocality": "##CITY##",
    "addressRegion": "##STATE##",
    "postalCode": "02888",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": ##LONG##,
    "longitude": ###LAT###
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": ,
    "opens": "06:00",
    "closes": "18:00"
  },
  "sameAs": [
    "https://facebook.com/appliancerevive",
    "https://twitter.com/appliancerevive",
    "https://google.com/m/appliancerevive",
    "https://instagram/appliancerevive"
  ]
}
</script>

</head>
<body>

  ##HEADER##

  <center>
      <h1>##CITY##</h1>
      <p>This is the best place to live in ##STATE##</p>
  </center>
  <ol>
    <li>The zipcodes are ##ZIPCODES##</li>
    <li>To learn more about ##CITY##, vist the <a href='##AUTHLINK##'>##CITY##, ##STATE##</a> Wikipedia page</li>
  </ol>
  <p><a href='index.html'>Home</a><p>

</body>
</html>
